NEXT_PUBLIC_SUPABASE_URL=https://pdvvjfydlucotahmqagf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkdnZqZnlkbHVjb3RhaG1xYWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQwNDU4MzAsImV4cCI6MjA3OTYyMTgzMH0.dy1QDbPU2JyMgv9cmf5oIH76nFavzgaO_-a2MMUZijw
GEMINI_API_KEY=AIzaSyCW17RJREJWo5IjYtUrqr6-_ylydIGI0LI
NEXT_PUBLIC_TELEGRAM_BOT_TOKEN=bot8677289448:AAEQz5YrVhHwX210MLTp-6-6AgSe8Eg5fUc
NEXT_PUBLIC_TELEGRAM_CHAT_ID=5383236811

